html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

*[data-mowdl] {
  display: none;
}

.mowdl-open *[data-mowdl] {
  display: block !important;
}

.mowdl-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(34, 34, 34, .5);
  top: 0;
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
     -moz-transition: opacity 0.25s;
      -ms-transition: opacity 0.25s;
       -o-transition: opacity 0.25s;
          transition: opacity 0.25s;
}

.mowdl-overlay.mowdl-open {
  opacity: 1;
}

.mowdl-base {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 100000;
  color: #fff;
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: all 0.35s;
     -moz-transition: all 0.35s;
      -ms-transition: all 0.35s;
       -o-transition: all 0.35s;
          transition: all 0.35s;

  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mowdl-close {
  border-radius: 3px;
  border: none;
  padding: 10px 25px;
  font-size: 14px;
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mowdl-base.fade-and-drop {
  top: -350%;
}

.mowdl-base.fade-and-drop.mowdl-open {
  top: 50%;
  -webkit-transition: top 0.35s;
     -moz-transition: top 0.35s;
      -ms-transition: top 0.35s;
       -o-transition: top 0.35s;
          transition: top 0.35s;
}

.mowdl-base.slide-right {
  left: -350%;
}

.mowdl-base.slide-right.mowdl-open {
  left: 50%;
  -webkit-transition: left 0.35s;
     -moz-transition: left 0.35s;
      -ms-transition: left 0.35s;
       -o-transition: left 0.35s;
          transition: left 0.35s;
}

.mowdl-base.slide-left {
  left: 250%;
}

.mowdl-base.slide-left.mowdl-open {
  left: 50%;
  -webkit-transition: left 0.35s;
     -moz-transition: left 0.35s;
      -ms-transition: left 0.35s;
       -o-transition: left 0.35s;
          transition: left 0.35s;
}

.mowdl-base.fade-in {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
     -moz-transform: translate(-50%, -50%) scale(0.7);
      -ms-transform: translate(-50%, -50%) scale(0.7);
       -o-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
  -webkit-transition: all 0.35s;
     -moz-transition: all 0.35s;
      -ms-transition: all 0.35s;
       -o-transition: all 0.35s;
          transition: all 0.35s;
}

.mowdl-base.fade-in.mowdl-open {
  -webkit-transform: translate(-50%, -50%) scale(1);
     -moz-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
       -o-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.mowdl-base.mowdl-open {
  opacity: 1;
}

.mowdl-content {
  padding: 25px;
  overflow-y: scroll;
  max-height: 500px;
}

.mowdl-header {
  margin: 0;
  width: 100%;
  height: 80px;
  font-size: 45px;
  padding: 15px 25px;
  box-sizing: border-box;
}
.mowdl-title {
  display: inline-block;
  margin: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-weight: 100;
}

.mowdl-footer {
  height: 80px;
}

.mowdl-footer button {
  outline: none;
  cursor: pointer;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  -webkit-transition: background-color 0.35s;
     -moz-transition: background-color 0.35s;
      -ms-transition: background-color 0.35s;
       -o-transition: background-color 0.35s;
          transition: background-color 0.35s;
}

/* Built-in Themes */
aside.orange {
  background-color: #F67D09;
}
.mowdl-overlay.orange {
  background-color: rgba(246, 125, 9, 0.3);
}
.orange header {
  background-color: #D06B0B;
}
.orange footer button {
  background-color: #964900;
}
.orange footer button:hover,
.orange footer button:focus {
  background-color: #6E3500;
}

aside.blue {
  background-color: #4464AD;
}
.mowdl-overlay.blue {
  background-color: rgba(23, 55, 129, 0.3);
}
.blue header {
  background-color: #2B4E9F;
}
.blue footer button {
  background-color: #173781;
}
.blue footer button:hover,
.blue footer button:focus {
  background-color: #0D214F;
}

aside.green {
  background-color: #166533;
}
.mowdl-overlay.green {
  background-color: rgba(0, 45, 17, 0.3);
}
.green header {
  background-color: #04471D;
}
.green footer button {
  background-color: #00471B;
}
.green footer button:hover,
.green footer button:focus {
  background-color: #002D11;
}

aside.purple {
  background-color: #7353BA;
}
.mowdl-overlay.purple {
  background-color: rgba(65, 28, 146, 0.3);
}
.purple header {
  background-color: #5A37A6;
}
.purple footer button {
  background-color: #411C92;
}
.purple footer button:hover,
.purple footer button:focus {
  background-color: #2F146B;
}

aside.red {
  background-color: #B24C63;
}
.mowdl-overlay.red {
  background-color: rgba(98, 8, 29, 0.3);
}
.red header {
  background-color: #8B243C;
}
.red footer button {
  background-color: #62081D;
}
.red footer button:hover,
.red footer button:focus {
  background-color: #4F0617;
}

aside.yellow {
  background-color: #F2EE7A;
  color: #222 !important;
}
.mowdl-overlay.yellow {
  background-color: rgba(170, 165, 41, 0.3);
}
.yellow header {
  background-color: #CCC84A;
}
.yellow footer button {
  background-color: #AAA529;
}
.yellow footer button:hover,
.yellow footer button:focus {
  background-color: #817D1D;
}

aside.black {
  background-color: #999;
}
.mowdl-overlay.black {
  background-color: rgba(51, 51, 51, 0.3);
}
.black header {
  background-color: #6C6C6C;
}
.black footer button {
  background-color: #333333;
}
.black footer button:hover,
.black footer button:focus {
  background-color: #222;
}

@media screen and (max-height: 500px) {
  .mowdl-content {
    max-height: 350px;
  }
}

@media screen and (max-height: 400px) {
  .mowdl-content {
    max-height: 250px;
  }
}

@media screen and (max-height: 300px) {
  .mowdl-content {
    max-height: 150px;
  }
}
